{% extends 'classbased/base.html' %}


{% block content %}
<h1>ClassRoom</h1><br>
    <form method="post" action="{% url 'classbased_classroom' %}">
        {% csrf_token %}
        {{ form }}<br>
        <button type="submit">Submit</button><br>
    </form>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for classroom in classrooms %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ classroom.id }}</td>
            <td>{{ classroom.name }}</td>
            <td>
                <a href="{% url 'classbased_classroom_update' classroom.id %}">Update</a>
                <a href="{% url 'classbased_classroom_delete' classroom.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}